body {
	background-color: lightblue;
	font-family: sans-serif;
	margin: 5%;
}

header {
	display: flex;
	flex-direction: row;
}

header section {
	display: flex;
	flex-direction: row;
}

.logo {
	width: 100px;
	height: 100px;

}

.logo img {
	width: 150px;
}
.meny {
	align-items: flex-start;
	justify-content: flex-end;
	width: 100%;
	margin: 10px;
	margin-right: 0;
}

.meny div {
	display: flex;
}

.meny img {
	max-width: 30px;
	display: flex;
	padding-left: 5px;
}

main {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.main1 {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
	align-items: center;
}

main .see-more {
	display: flex;
	justify-content: center;
	background-color: antiquewhite;
	width: fit-content;
	align-self: center;
	margin-top: 5%;
	border-radius: 20px;
	font-weight: bold;
	border: 0.5px solid black;
}

.see-more a {
	color: black;
	text-decoration: none;
	padding: 10px;
	padding-top: 7px;
	padding-bottom: 7px;
}

main .left {
	display: flex;
	width: fit-content;
	align-self: center;
	border-radius: 20px;
	font-weight: bold;
	border: 0px solid black;
	flex-direction: column;
    position: absolute;
    top: 11rem;
}
	
main {display: flex;
flex-wrap: wrap;
}
.wrapper {
	display: grid;
    grid-template-columns:repeat(3,1fr);
	grid-template-rows:1fr;
    gap: 5px

}

section div{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: 1fr;

}
main .left a {
	display: flex;
	justify-content: center;
	text-decoration: none;
	padding: 10px;
	margin-bottom: 5%;
	background-color: antiquewhite;
	border-radius: 20px;
	font-weight: bold;
	color: black;
	border: 0.5px solid black;
	
}

.right {
    width: 100%;
    margin-left: 30rem;
	align-items: center;
	
}
.bildestor{
	height: 90px;
	width: 100px;
}
main .right img {
	display: flex;
	
	width: 100px;
	height: auto;
	padding-top: 15px;
	
	
}
	

.down {
	padding-left: 10%;
	padding-right: 10%;
}

.down p {
	font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
		"Lucida Sans Unicode", Geneva, Verdana, sans-serif;
	line-height: 150%;
}

footer {
	display: flex;
	justify-content: center;
	max-width: 90%;
	margin-left: 8%;
	margin-right: 8%;
}

footer img {
	width: 350px;
	border-radius: 20%;
}

@media (max-width: 600px){
.right {
    width: 100%;
	margin-top: 40px;
    margin-left: 6rem;
	align-items: center;
	
}
}